<h1> Add New Blog</h1>

<%= form_with url: "/index", local: true do %>
  <label for="title">Title</label>
  <input type="text" name="title">
  <br>
  <label for="content">Content</label>
  <textarea name="content"></textarea>
  <br>
  <input type="submit" value="submit">
<% end %>
